<h1>Showing selected beds</h1>

<p>
	Name: <%= @booking.name %>
</p>

<p>
	Room number: <%= @booking.room_num %>
</p>
<%= link_to "Edit", edit_booking_path(@booking) %> |
<%= link_to "Home", bookings_path %>